@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    @if (Context.Session.Keys.Contains("user"))
    {
        <a href="~/Users/PersonalAccount">Личный кабинет</a>
        <a href="~/Users/Logout">Выйти</a>
    }
    else
    {
        <a href="~/Users/Register">Регистрация</a>
        <a href="~/Users/Login">Вход</a>
    }
</div>

